body {
    margin : 0 auto;
}
.main{
    height: 550px !important;
}

.btnClass {
    position: absolute;
    bottom: 5px;
    text-align: center;
}

.hidden{
    display: none !important;
}
.active {
    display: block !important;
    background-color: skyblue !important;
}
