<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="modalTrigger" hidden>
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark ">
          <h5 class="modal-title text-light" id="exampleModalLabel">Modal Child Component</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="text-truncate">{{ModalCtrl.text}} </h5>
          <hr />
          <ol>
            <li ng-repeat="student in selectedDepartment[0].studenList">
              <span class="text-success" >{{student}}</span>
            </li>
          </ol>
          <hr />
          <p> 
            <b>Add Student :</b> <input type="text" placeholder="enter username " ng-model="ModalCtrl.username" id="modalInput"/>
          </p>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  