<div class="p-4">
    <hr />
    <div class="row mt-2">
        <button-compo ng-repeat="deptt in depttArray" deptt='deptt' class="col-md-2 ml-auto mr-auto mt-2"></button-compo>
    </div>
    <hr />
    <list-compo  name="'Name passing from the parent component : SHIKHAR PAINULY'" age="'Age passing from the parent component  : XXV'" exp=" Experience passing from the parent component  : 3 yrs"></list-compo >
</div>
<modal-compo text="Binding from detail component" username='input'></modal-compo>